/* .signup-area{
    background: url('../../images/bannerbackground.png');
    background-position: -80px center;
    background-repeat: no-repeat;
    background-size: 109%;
    background-attachment: fixed;
} */

.signup-form{
    width: 400px;
    line-height: 3;
}
.signup-form input[type=text], .signup-form input[type=password], .signup-form input[type=email]{
    outline: none;
    background-color: rgba(220, 218, 214, 0.432);
    border: none;
    font-weight: 500;
}
.signup-btn, .login-btn{
    background-color: #ee0868;
}
.signup-form p{
    font-weight: 500;
}